.ingredient_name_container {
    margin-top: 10px;
    padding: 0px;
    font-size: 12px;
}

.ingredients {
    display: flex;
    justify-content: center;
}

.ingredient_name {
    padding-left: 10px;
    display: block;
}

.ingredient_amount {
    padding-right: 10px;
    display: block;
}
