@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.App {
  font-family: "Righteous", cursive;
}

.navbar_container{
  display: flex;
  z-index: 998;
  flex-direction: row;
  padding: 30px;
  font-size: 30px;
}

.links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  color: #ffffff;
  padding-left: 20px;
}

.main {  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card {
  background-image: linear-gradient(
    40deg,
    #fbf9b2 0%,
    #f952fc 45%,
    #9ffffd 100%
  );

  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.551);
  background-color: rgb(142, 229, 255);
  transform-style: preserve-3d;
  transition: 150ms;
  cursor: pointer;
  height: 500px;
  width: 300px;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
}

.card:hover {
  box-shadow: 0 0 20px 10px #ffffff;
}

.card.flip {
  --rotate-y: 180deg;
}

.card .front {
  display: block;
}

.card .front,
.card .back {
  position: absolute;
  -webkit-perspective: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0);
  visibility: visible;
  backface-visibility: hidden;
  z-index: 1;
}

.card .back {
  transform: rotateY(180deg);
}

img {
  margin-top: 20px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 0 0 10px 5px rgb(255, 255, 255);
}

button {
  font-family: "Righteous", cursive;
  font-size: large;
  margin-top: 30px;
  padding: 20px;
  border-radius: 20px;
  transition: 300ms;
  border: 0px;
  box-shadow: 0 0 6px 2px #ffffff;
}

button:hover {
  box-shadow: 0 0 10px 5px #ffffff;
}



h2 {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;
}

h3 {
  font-size: 14px;
}

.back h3 {
  font-size: 14px;
  padding-top: 20px;
}

h4 {
  font-size: 10px;
}

.ingridients {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.ingridient_name_container {
  margin-top: 10px;
}

.ingridient_name {
  padding-left: 10px;
  display: block;
}

.ingridient_amount {
  padding-right: 10px;
  display: block;
}

ul {
  padding: 0px;
}

p {
  padding-left: 20px;
  padding-right: 20px;
}


